@font-face {
  font-family: 'Akzidenz Grotesk Bold';
  src: url('../fonts/Berthold-akzidenz-grotesk-be-extra-bold-condensed.woff');   
}

@font-face {
  font-family: 'Akzidenz Grotesk Condensed';
  src: url('../fonts/Berthold-akzidenz-grotesk-be-condensed.woff');   
}

@font-face {
  font-family: 'Akzidenz Grotesk Italic';
  src: url('../fonts/Berthold-akzidenz-grotesk-be-medium-italic.woff');   
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('../fonts/Berthold-akzidenz-grotesk-be-regular.woff');   
}

@font-face {
  font-family: 'Akzidenz Grotesk Light';
  src: url('../fonts/Berthold-akzidenz-grotesk-be-light.woff');   
}

html {
  font-family: 'Akzidenz Grotesk', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  text-align: left;
  background-color: #dbb700;
  color: #0f0a01;
  padding: 40px;
}

p {
  font-family: 'Akzidenz Grotesk Light', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
  font-size: 1.5em;
}

a {
  color: #0f0a01;
  text-decoration: none;
  font-size: 1.9em;
  font-weight: bold;
}

.contactItem {
  display: flex;
  align-items: center;
}

.contactItemIcon {
  padding: 0 10px 0 5px;
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

.externalLink {
  font-family: 'Akzidenz Grotesk', 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: #eaded0;
  display: flex;
  padding: 20px;
  align-items: center;
  cursor: pointer;
}

.externalLink:hover {
  font-family: 'Akzidenz Grotesk Italic', 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: #b7c7bd;
}

.externalLinkText {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.externalLinkIcon {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4em;
}

footer{
  padding-top: 20px;
  font-family: 'Akzidenz Grotesk Bold', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1.2em;
}

h1 {
  font-size: 6.0em;
  line-height: 1.0em;
  margin: 0;
  font-family: 'Akzidenz Grotesk Bold', 'Helvetica Neue', 'Helvetica', sans-serif;
  z-index: 10;
}

h2 {
  font-size: 3.6em;
  hyphens: auto;
  line-height: 1.7em;
  margin: 0;
  font-family: 'Akzidenz Grotesk Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.smallSpace {
  width: 100%;
  display: block;
  height: 0.8em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 36px;
}

@media(max-width: 1000px) {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 6vw;
  }
}

@media(max-width:800px){
  .wrapper {
     grid-template-columns: 1fr;
  }

  html {
    font-size: 14px;
  }

  h1 {
    font-size: 6.0em;
  }

  h2 {
    font-size: 5.0em;
    line-height: 1.5em;
  }

  p {
    font-size: 1.6em;
  }

  body {
    padding: 30px;
  }
}

@media(max-width:500px){
  .wrapper {
     grid-template-columns: 1fr;
  }

  html {
    font-size: 12px;
  }

  h1 {
    font-size: 4.0em;
  }

  h2 {
    font-size: 4.0em;
  }

  p {
    font-size: 1.7em;
  }

  body {
    padding: 20px;
  }
}


.box {
  border-top: 3px solid #0f0a01;
}

.flex-center {
  display: flex;
  align-items: center;
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 1;
  grid-row: 2;
}

.four {
  grid-column: 2;
  grid-row: 2;
}